<p>
<strong>Reviewer:</strong>
<%= review.reviewer %>
</p>

<p>
<strong>Comment:</strong>
<%= review.body %>
</p>

<p>
  <%= link_to 'Destroy Review', [review.writer, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>